@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #081b29;
  --foreground: #ddb929;
  --text: #f1c40f;
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
